body {
    margin: 0;
    font-family: Roboto, sans-serif;

}

.section-one {
    background-color: #1F2937;
}

h5 {
    margin: 0;
}

.logo, h1 {
    color: #F9FAF8; 
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero-text p {
    color: #E5E7EB;
    max-width: 400px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
}

.hero-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 80px;
    padding-bottom: 100px;
    gap: 20px;
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 530px;
    height: 250px;
    background-color: rgb(115, 113, 121);
    color: #E5E7EB;

}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-content button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px 35px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
}

@media (max-width: 777px) {
    .hero-content {
        flex-direction: column;
    }
}

/* css for the second section*/

.section-two {
    display: flex;
    background-color: #F9FAF8;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 80px;
    gap: 20px;

}

.heading {
    font-size: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 750px;
    justify-content: center;
    gap: 50px;
    text-align: center;
    color: rgb(115, 113, 121);
}

.image-box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.item {
    width: 150px;
}

/* css for the third section*/

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    width: 100%;
    max-width: 780px;
    margin-bottom: 0;
}

.attribution {
    font-weight: bold;
    width: 100%;
    max-width: 720px;
    text-align: right;
    margin-top: 10px;
    font-size: 20px
}